#nclc, #eligibility_calculator, #crs, #extraInfo, #suggestedpnp {
    color: white;
    margin-top: 2rem;
}

.mainTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.paragraphExplanation {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
}