/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Roboto:wght@300&family=Rubik&display=swap');

/* import welcome page css file */
@import 'welcome.css';
@import 'navigation.css';
@import 'login.css';
@import 'register.css';
@import 'form.css';
@import 'guestLayout.css';
/* ee */
@import './ee/general.css';
@import './ee/clb.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #010101;
}

.mainContainer {
    max-width: 1200px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    height: 100vh;
    padding: 0 1rem;
    background-color: #060606;
}




/* ################################## */
/* ################################## */
/* ################################## */
/* ############### ESSAY ############## */