@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.formulaire {
    width: 100%;
    /* height: 100%; */
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 10px 0;
  }

  .formSection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    text-align: center;
    color: white;
    /* padding: 20px; */
}

  .formField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

  .form_title {
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Black Ops One', cursive;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="number"],
  input[type="password"],
  textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16pt;
    resize: vertical;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }

  .cta {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 16pt;
    font-weight: bold;
    color: white;
    background-color: #c63030;
    border-radius: 6px;
    width: fit-content;
    text-transform: uppercase;
    cursor: pointer;
}

.cta:hover {
  background-color: #be4b28;
}

.extraActions {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
  @media only screen and (max-width: 768px) {
    .formulaire {
      width: 100%;
    }
  
    .formulaire div{
      margin-bottom: 4px;
    }

    .cta {
      font-size: 10pt;
    }

    .extraActions {
      margin-top: 0rem;
    }
  }
  
  

  