@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  }
  
  .dark .dark-text {
    color: var(--tw-text-opacity, 1);
  }


.body {
    /* min-height: 100%; */
    /* background-color: #010101; */
    /* background-color: #eee; */
}

.bodyLanding {
    background: url(/public/img/mapleleaf2.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainContainer {
    max-width: 1200px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #eee;
    /* background-color: #ddd; */
}




/* for div highlighting */
/* Define the CSS class for highlighting */
.highlighted-div {
    animation: highlight 1.5s ease-in-out forwards; /* Use "forwards" to retain the final state */
    background-color: rgba(255, 255, 0, 0.5); /* Initial background color with opacity */
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 0, 0.5); /* Initial box shadow with opacity */
    border-radius: 10px;
}

/* Define the CSS animation for highlighting */
@keyframes highlight {
    0% {
        background-color: rgba(255, 255, 0, 0); /* Start with fully transparent background */
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 0, 0); /* Start with fully transparent box shadow */
    }
    50% {
        background-color: rgba(255, 255, 0, 0.5); /* Transition to fully opaque background at 50% */
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 0, 0.5); /* Transition to semi-transparent box shadow at 50% */
    }
    100% {
        background-color: rgba(255, 255, 0, 0); /* Back to fully transparent background at the end */
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 0, 0); /* Back to fully transparent box shadow at the end */
    }
}






/* for suggestPNP page (should get replaced with tailwind classes) */
.gray {
    background-color: #e5e7eb;
}

.gray:hover {
    background-color: #d1d5db;
}

.green {
    background-color: #b2f5c4;
}

.green:hover {
    background-color: #7fe384;
}

.yellow {
    background-color: #fef08a;
}

.yellow:hover {
    background-color: #fde047;
}


/* navbar */
/* #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
    color: white;
} */

#navbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
}

#navbarOptions li ul {
    display: none;
}

#navbarOptions li ul *, #navbarOptions li {
    font-family: 'Roboto', sans-serif;
}

#navbarOptions li:hover ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.7rem;
    padding: 5px;
}

#burger {
    display: none;
}

#labelburger {
    display: none;
    cursor: pointer;
}



/* ############################# */
/* ############################# */
/* ############################# */

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 2s ease-in-out;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    z-index: 9998;
    pointer-events: auto;
}

#modal, #modalResult, #modalConfirmation, #modalWritePost {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.5s ease-in;
    /* width: fit-content;
    height: fit-content; */
    /* width: 900px; */
    background: #f7e6e6;
    z-index: 9999;
    border: 3px solid black;
    border-radius: 5px;
}

.active {
    color: yellow !important;
    text-decoration: underline;
}


/* ############################# */
/* ############################# */
/* ############################# */
.chatDiv {
    height: 360px;
}



@media screen and (max-width: 600px) {
    #linklogo span {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .bodyLanding {
        background: url(/public/img/mapleleafsmall2.jpg);
        background-repeat: no-repeat; 
        background-position: center -200px;
        background-attachment: fixed;
    }

    #labelburger {
        display: block;
    }

    #burger:checked + .navBig,
    #burger:checked + #labelburger + .navSmall {
        display: flex;
    }

    /* #navbarOptions {
        display: none;
    } */
}