/* .registerSection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    text-align: center;
    color: white;
    padding: 20px;
} */

/* .registerField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
} */

.confirmPasswordRegister {
    margin-top: 2rem;
}

@media screen and (max-width: 650px) {
    .registerSection {
        width: 80%;
    }
}
    

